*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,
html{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.webgl{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}

nav{
    color: black;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul{
    list-style: none;
    gap:2rem;
}

.title{
    color:black;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

/* Style for the canvas */
#myCanvas {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100vw;  /* Fullscreen width */
    height: 100vh; /* Fullscreen height */
    z-index: -1;  /* Ensure the canvas is on top of the map */
    /* border: 2px solid black; */
    /* transform: scaleX(-1);
    transform-origin: center; */
}

#chContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 8px;
}

#chLabel {
    color: #fff;
    margin-right: 8px;
}

#roofLabel {
    color: #fff;
    margin-left: 12px;
}

#sliderContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.slider-group {
    margin-bottom: 20px;
    position: relative;
}

.slider-group label {
    display: block;
    margin-bottom: 5px;
}

.slider-group input[type="range"] {
    width: 200px;
}

.slider-labels {
    position: absolute;
    top: 35px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
}